<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>UFG-LLM-APP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="logo">
        <img src="UFG.png" alt="Logo UFG">
    </div>
    <div id="chat">
        <h2>UFG-LLM-APP</h2>
        <div id="messages"></div>
        <input type="text" id="question" placeholder="Digite sua pergunta..." autocomplete="off"/>
        <button id="send">Enviar</button>
    </div>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
</body>
</html>